<html>
    <head>
        <title>My-first-blog</title>
    </head>
    <body>
        {{ posts }}
            <h1><a href="/">My-first-blog</a></h1>
        {{ posts }}

        {{ posts }}
            <h2><a href="">Мой первый пост</a></h2>
            <p>Привет, рррррррррр</p>
        {{ posts }}

        {{ posts }}
            <h2><a href="">Мой второй пост</a></h2>
            <p>Люблю тебя!</p>
        {{ posts }}
    </body>

  <div>
      <h1><a href="/">Django Boys Blog</a></h1>
  </div>

  {% for post in posts %}
      <div>
          <p>published: {{ post.published_date }}</p>
          <h1><a href="">{{ post.title }}</a></h1>
          <p>{{ post.text|linebreaksbr }}</p>
      </div>
  {% endfor %}
</html>
